.business-main {
    /* Light background image */
    /* background-image: url('../../../public/bg-results.png'); */
    /* Dark background image */
    background-image: url('../../../public/bg-results-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    padding: 2rem 0;
    color: white;
}