.business-main {
    /* Light background image */
    /* background-image: url('../../../public/more-info-bg.png'); */
    /* Dark background image */
    background-image: url('../../../public/more-info-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 2rem;
    color: white;
}