.business-main {
    background-image: url('../../../public/more-info-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 2rem;
    color: white;
}