.bg-container {
    height: 100vh;
    /* Light background image */
    /* background-image: url('../../../public/sign-up-bg.png'); */
    /* Dark background image */
    background-image: url('../../../public/sign-up-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    color: white;
}