.saved-places-main {
    height: 900px;
    /* Light background image */
    /* background-image: url('../../../public/saved-places-bg.png'); */
    /* Dark background image */
    background-image: url('../../../public/saved-places-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}