.more-results-container {
    /* Light background image */
    background-image: url('../../../public/more-results-2-crop.png');
    /* Dark background image */
    /* background-image: url('../../../public/more-results-dark.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 80%;
    padding-top: 2rem;
    color: white;
}

.more-results-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.open-text {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: x-large;
}