.sidebar {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
}

label {
    font-size: large;
}

p.sidebar-title {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.sidebar-category-boxes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar-category-boxes input {
    height: 1rem;
    width: 3rem;
}